<section>
    <h2>Posts:</h2>
    <a class="button" href="/posts/new">Nuevo Post</a>
    <div class="postShow-container">
        <% for (var i in posts) { %>
            <% var post = posts[i]; %>
            <article class="postShow">
                <h3 class="postTitle"><%= post.title %></h3>
                <%- include('../attachments/_attachment', { post: post }) %>
                <div class="postOptions">
                    <a class="button" href="/posts/<%= post.id %>">Mostrar</a>
                    <a class="button" href="/posts/<%= post.id %>/edit">Editar</a>
                    <a class="button" href="/posts/<%= post.id %>?_method=DELETE" onClick="return confirm('Delete: <%= post.title %>');">Borrar</a>
                </div>
                <div>
                    <small id="author"> Autor: <%= post.author?.username ?? "Anonymous" %> </small>
                </div>
            </article>
        <% } %>
    </div>
</section>